.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-data{
    padding: 10px;
}

.btn{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: slateblue;
    width: 7rem;
    padding: 10px;
    cursor: pointer;
}

.message-validation{
    color: rgb(255, 101, 101);
}